body {
    background-color: black;
    color: aqua;
    text-align: center; 
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    border-spacing:5em;
    border: 3px double aqua;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

thead {
    font-weight: bolder;
    color: white;
    background: black;
}

tbody tr:nth-child(even) {
    background:rgb(3, 253, 253);
    color: black;
}

td {
    padding: 8px 5px;
}

.rekall {
    margin-top: 200px;
}

.haloButton {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: black;
    border: 4px solid aqua;
    border-radius: 100%;
    box-shadow: 0px 0px 70px aqua;
    text-decoration: none;
    margin-top: 200px;
   
 }
 
 .haloButton:hover .navButton {
    opacity: 1;
    transition: 1s;
    box-shadow: 0px 0px 70px aqua;
    text-decoration: none;
 }
 
 .navButton{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    color: black;
    background-color: aqua;
    text-decoration: none;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    opacity: 0;
    transition: 1s;
 }