body {
    background-color: black;
    color: aqua;
    text-align: center; 
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    border-spacing:5em;
    border: 3px double aqua;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

thead {
    font-weight: bolder;
    color: white;
    background: black;
}

tbody tr:nth-child(even) {
    background:rgb(3, 253, 253);
    color: black;
}

td {
    padding: 8px 5px;
}
