body {
    background-color: black;
    color: aqua;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 100px;
}
#motto {
    font-size: 32px;
}
fieldset {
    margin: 0 auto;
    width: 300px;
    border-color: aqua;
    border: 10px double;
}
button:hover {
    box-shadow: 0 0 40px aqua;
}
#logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 50%;
    margin: auto;
}
#logo:hover {
    box-shadow: 0 0 80px aqua;
}