
.presserIndex {
    border: 4px solid aqua;
    border-radius: 100%;    
    background-color:black;
    box-shadow: 0 0 80px aqua;
    display: inline-block;
    height: 120px;
    width: 120px;
    margin-left: -10px;
    margin-top: 160px;
    
}

.presserIndex:hover {
    background-color: aqua;

}

#presserCustomer {
    border: 4px solid aqua;
    border-radius: 100%;    
    background-color:black;
    box-shadow: 0 0 80px aqua;
    display: inline-block;
    height: 120px;
    width: 120px;
    margin-left: -10px;
    margin-top: 30px;
}

#presserCustomer:hover {
    background-color: aqua;

